* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
}

html,
body {
    height: 100vh;
    background-color: $backGroundColor_Body;
    padding-top: 70px;
    font-family: $fontPrim;
}

p {
    text-align: justify;
}

a {
    cursor: pointer;
}

.container {
    // min-height: 100vh;
    .content {
        // min-height: 500px;
        width: 800px;
        .upload {
            border: 1px dashed #ddd;
            border-radius: 5px;
            height: 80px;
            cursor: copy;
            .upload-icon {
                font-size: 30px;
                color: #ccc;
            }
        }
        .over {
            background-color: #eee;
        }
        .show {
            display: none;
        }
    }
    .file {
        width: 100%;
        .fileUpload {
            width: 100%;
            padding: 7px;
            margin: 2px;
            border: 1px solid #ddd;
            border-radius: 3px;
            span {
                width: 20px;
                margin-right: 3px;
            }
        }
    }
}