* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

html,
body {
    background-color: $backGroundColor_Body;
    padding-top: 50px;
    font-family: $fontPrim;
}

p {
    text-align: justify;
}

a {
    cursor: pointer;
}


/*TITRE*/

h1 {}

h2 {}

h3 {}

h4 {
    display: block;
    font-weight: bold;
    line-height: 2rem;
}

.container {
    // min-height: 100vh;
    .content {
        .upload {
            border: 1px dashed #ddd;
            border-radius: 5px;
            height: 80px;
            cursor: copy;
            .upload-icon {
                font-size: 30px;
                color: #ccc;
            }
        }
        .over {
            background-color: #eee;
        }
        .show {
            display: none;
        }
    }
    .file {
        width: 100%;
        .fileUpload {
            width: 100%;
            padding: 7px;
            margin: 2px;
            border: 1px solid #ddd;
            border-radius: 3px;
            span {
                width: 20px;
                margin-right: 3px;
            }
        }
    }
}

strong {
    font-weight: 400;
    color: rgb(255, 255, 255);
}
