//TABS
.mat-tab-label {
    color: $white !important;
}

.mat-tab-link {
    height: 30px !important;
}

//CARD
.mat-card {
    // margin: 15px;
    // &-content {
    //     margin: 15px;
    // }
}

//MENU
.mat-menu {
    height: 40px;
}

.mat-menu-panel {
    background-color: $primColBut;
    border-radius: 30% 5px 30% 5px !important;
    border: 2px black solid;
    &:hover {
        background-color: $primColButHover;
    }
    .mat-menu-content {
        button {
            &:hover {
                color: $primColBut;
            }
        }
    }
}

//FORMULAIRE
.mat-form-field {
    margin: 8px 0;
    width: 100%;
}

.mat-form-field-wrapper {
    width: 100%;
}

//Divider
.mat-divider {
    width: 80% !important;
}