<section>

    <div>
        <h3 fxLayoutAlign='center center'> Formation</h3>
        <button mat-raised-button (click)='guard()' routerLink='/formationForm'>Ajouter une formation</button>
    </div>
    <div fxLayout='row wrap' fxLayoutAlign='center start'>
        <mat-card *ngFor='let formation of parcourTab; let i = index'>
            <div>
                <button mat-raised-button (click)="deleteFormation(formation._id)">Supprimer</button>
                <button mat-raised-button [routerLink]="['/formation',formation._id]">Modifier</button>
                <p>{{ formation._id }}</p>
            </div>
            <mat-card-header>
                <mat-card-title>{{ formation.nomFormation }} - {{ formation.option }}</mat-card-title>
                <mat-card-subtitle>
                    {{ formation.lieu }} <br> {{ formation.adresse }}
                </mat-card-subtitle>
            </mat-card-header>
            <img class='imgBg' matCardImage src="{{ formation.image }}" alt='{{formation.alt}}'>
            <mat-card-content>
                <div fxLayout='row' fxLayoutAlign='space-around center'>
                    <p>Date d'entrée : {{ formation.dateEntree | date:'MM/y'}}</p>
                    <p>Date de Sortie : {{ formation.dateSortie | date:'MM/y'}}</p>
                </div>
            </mat-card-content>
            <mat-card-content>
                <div>
                    <p> Contennu de la formation : </p>
                    <p> {{ formation.contenu}}</p>
                    <mat-list dense>
                        <mat-list-item *ngFor="let item of formation.liste">
                            {{ item }}
                        </mat-list-item>
                    </mat-list>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <a href="{{ formation.lien}}" target='blank'><button mat-raised-button> En savoir plus</button></a>
            </mat-card-actions>
        </mat-card>
    </div>
</section>