<section>
    <div>
        <h3 fxLayoutAlign='center center'>Expérience Professionnelle</h3>
        <button mat-raised-button routerLink='/experienceForm'>Ajouter une expérience</button>
    </div>

    <div fxLayout='row wrap' fxLayoutAlign='center start'>
        <mat-card *ngFor='let xp of experienceTab'>
            <mat-card-header>
                <mat-card-title>{{ xp.enseigne }}</mat-card-title>
                <mat-card-subtitle>{{xp.dateEntree | date: "MM/y"}} - {{xp.dateSortie | date: 'MM/y'}}</mat-card-subtitle>
            </mat-card-header>
            <img class='imgBg' matCardImage src="{{xp.image}}">
            <mat-card-content>
                {{ xp.fonction }}
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-raised-button>En Savoir plus</button>
            </mat-card-actions>
        </mat-card>
    </div>
</section>