<section class='sectionExperience'>
    <div class='container' fxLayout='column'>
        <div class='titre formationSticky' fxLayout='column' fxLayoutAlign='center center'>
            <div class='h3' fxLayout='row' fxLayoutAlign='center start'>
                <span>E</span>
                <h3>xpérience</h3>
            </div>
        </div>

        <button mat-raised-button class='btn' *ngIf='this.userSession.isAuth' routerLink='/experienceForm'>Ajouter une expérience</button>

        <div fxLayout='row wrap' fxLayoutAlign='center start'>
            <article *ngFor='let xp of experienceTab'>
                <mat-card class='mat-card-experience' fxLayout='column' fxLayoutAlign='space-between'>
                    <div>
                        <div class='btnAlign' fxLayoutAlign='space-evenly center'>
                            <button class='btn' *ngIf='this.userSession.isAuth' mat-raised-button (click)='deleteLinkImage(xp.image)' (click)="deleteExperience(xp._id)">Supprimer</button>
                            <button class='btn' *ngIf='this.userSession.isAuth' mat-raised-button (click)="editExperience(xp)" [routerLink]="['/experience',xp._id]">Modifier</button>
                        </div>
                        <mat-card-header>
                            <div fxFlex='column'>
                                <mat-card-title>{{ xp.enseigne }}</mat-card-title>
                                <mat-card-subtitle fxflex='row' fxLayoutAlign='space-between center'>
                                    <div fxflex='row' fxLayoutAlign='start center'>
                                        <p>{{xp.dateEntree | date: "MM/y"}}</p>
                                        <p>{{xp.dateSortie | date: 'MM/y'}}</p>
                                    </div>
                                    <p>{{ tempsTravailler(xp.dateSortie, xp.dateEntree) }}</p>
                                </mat-card-subtitle>
                            </div>
                        </mat-card-header>
                        <img *ngIf='xp.image' class='imgBg' matCardImage src="{{xp.image}}" alt='{{ xp.alt }}'>
                        <div class='divImgDefault' *ngIf='!xp.image'></div>
                        <mat-card-content>
                            <div fxLayout='row' class='mtb-10'>
                                <p> {{ xp.typeContrat }} </p>
                                <p class='mlr-10'> {{ xp.lieu }} </p>
                            </div>
                            <div class='mtb-10'>
                                <h4>Fonction</h4>
                                <p>{{ xp.fonction }}</p>
                            </div>
                            <div>
                                <h4>Missions</h4>
                                <p>{{ xp.mission }}</p>
                            </div>
                        </mat-card-content>
                    </div>
                    <mat-card-actions align="start">
                        <a href="{{ xp.lien }}" target="blank"> <button mat-raised-button class='btn'>   En Savoir plus</button></a>
                    </mat-card-actions>
                </mat-card>
            </article>
        </div>
    </div>
</section>