/* test BACKGROUND*/
.red {
  background-color: brown;
}

.blue {
  background-color: #2a36a5;
}

.purple {
  background-color: #822aa5;
}

.yellow {
  background-color: #8ea52a;
}

/*FONT-FAMILY*/
.fontPrim {
  font-family: 'Karla', sans-serif;
}

.fontSec {
  font-family: 'Indie Flower', cursive;
}

.fontOpt {
  font-family: 'Dancing Script', cursive;
}

/*BOUTTON*/
.btn {
  display: inline-block !important;
  font-size: 14px !important;
  padding: 15px 25px;
  border-radius: 5px 30% 5px 30% !important;
  font-weight: 900 !important;
  background-color: #dee5fbef;
  margin-left: 10px;
  margin-right: 10px;
}

.btn:hover {
  background-color: #00130a;
  color: #eeeeee;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn-sec {
  background-color: #222221;
  color: #efeffa;
}

/*MARGIN Gen*/
.m15 {
  margin: 15px;
}

.m30 {
  margin: 30px;
}

.mlr-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.mlr-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mlr-30 {
  margin-left: 30px;
  margin-right: 30px;
}

.mlr-35 {
  margin-left: 35px;
  margin-right: 35px;
}

.mlr-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mlr-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mlr-100 {
  margin-left: 100px;
  margin-right: 100px;
}

.mtb-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.mtb-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mtb-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mtb-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mtb-60 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.mtb-70 {
  margin-top: 70px;
  margin-bottom: 70px;
}

/*PADDING Gen*/
.p10 {
  padding: 10px;
}

.p30 {
  padding: 30px;
}

.p50 {
  padding: 50px;
}

.plr5 {
  padding-left: 5px;
  padding-right: 5px;
}

.plr-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.plr-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.plr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.ptb-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.ptb-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ptb-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.ptb-60 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.fullPage {
  min-width: 100vh;
  min-height: 100vh;
}

/*Taile Page*/
.page90 {
  min-height: 100vh;
}

.page80 {
  min-width: 80vh;
  min-height: 80vh;
}

.page70 {
  min-width: 70%;
}

.larg50 {
  width: 50%;
}

/*DISPLAY*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.colStart {
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.space-arround {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.space-evenly {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.colCenter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stretchR {
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.stretchC {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.auto {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #effdf9;
  font-family: "Karla", sans-serif;
}

p {
  text-align: justify;
}

a {
  cursor: pointer;
}

/*TITRE*/
h4 {
  display: block;
  font-weight: bold;
  line-height: 2rem;
}

.container .content .upload {
  border: 1px dashed #ddd;
  border-radius: 5px;
  height: 80px;
  cursor: copy;
}

.container .content .upload .upload-icon {
  font-size: 30px;
  color: #ccc;
}

.container .content .over {
  background-color: #eee;
}

.container .content .show {
  display: none;
}

.container .file {
  width: 100%;
}

.container .file .fileUpload {
  width: 100%;
  padding: 7px;
  margin: 2px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.container .file .fileUpload span {
  width: 20px;
  margin-right: 3px;
}

strong {
  font-weight: 400;
  color: white;
}

.mat-tab-label {
  color: #f2f3f2 !important;
}

.mat-tab-link {
  height: 30px !important;
}

.mat-menu {
  height: 40px;
}

.mat-form-field {
  margin: 8px 0;
}

.mat-divider {
  width: 80% !important;
}

.fab,
.far,
.fas {
  font-size: 2rem;
  -webkit-transition: .3s;
  transition: .3s;
}

.fa-html5:hover {
  color: red;
}

.fa-css3-alt:hover {
  color: blue;
}

.fa-js:hover {
  color: yellow;
}

.fa-sass:hover {
  color: #f603ce;
}

.typescript:hover {
  width: 50%;
  background-color: blue;
  text-align: end;
  border-radius: 3px;
  padding-right: 2px;
}

.fa-node-js:hover {
  color: green;
}

.fa-compass:hover {
  color: #73f373;
}

.fa-database:hover {
  color: #75e7f7;
}

.fa-angular:hover {
  color: #830202;
}

.fa-vuejs:hover {
  color: #2ef52e;
}

.fa-bootstrap:hover {
  color: #5d0434;
}

footer {
  padding: 25px;
  background-color: #00130a;
  color: #eeeeee;
}

footer div p {
  margin-left: 10px;
  margin-right: 2px;
}

footer div .fa-copyright {
  font-size: .7rem;
}

header {
  background-color: #00130a;
  color: #f2f3f2 !important;
  width: 100%;
  font-family: "Dancing Script", cursive !important;
}

header .logoTitreMenuContainer .logoTitre img {
  height: 40px;
  width: 40px;
  border: 3px solid #f3efef;
  border-radius: 60%;
  margin: 10px 30px;
}

header .logoTitreMenuContainer .logoTitre h1 {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

header .logoTitreMenuContainer .menu {
  margin-right: 20px;
}

header .logoTitreMenuContainer .menu button {
  padding-top: 2px;
  background: #e0f5f8;
  font-family: 'Indie Flower', cursive !important;
  border-radius: 5px 30% 5px 30%;
}

header .logoTitreMenuContainer .menu button:hover {
  -webkit-transition: .4s;
  transition: .4s;
  background-color: #002a27;
  color: #e0f5f8;
  border: 2px solid #e0f5f8;
  font-weight: 700;
}

header .logoTitreMenuContainer .menu .mat-menu button {
  font-family: 'Indie Flower', cursive !important;
}

.menuNav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: #00130a;
}

.menuNav nav {
  padding: 0;
}

.menuNav nav .mat-tab-link {
  font-size: 1rem;
  padding: 0;
  color: #f8f0f0;
}

.menuNav nav .mat-tab-link:hover {
  background-color: #e0f5f8;
  color: #002a27;
  border-radius: 3px;
}

.menuNav nav .mat-tab-label-active {
  background-color: rgba(62, 122, 104, 0.52);
}

.menuNav nav .mat-ink-bar {
  height: 4px;
}

.menuNav nav a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-family: 'Indie Flower', cursive !important;
}

@media (max-width: 500px) {
  body,
  html {
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header {
    position: unset;
  }
  header .logoTitreMenuContainer {
    place-content: center center !important;
    padding-top: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .logoTitreMenuContainer .logoTitre {
    margin-right: 0 !important;
  }
  header .logoTitreMenuContainer .logoTitre img {
    margin: 10px 30px 0 0;
  }
  header .logoTitreMenuContainer .menuNav {
    width: 100%;
  }
  header .logoTitreMenuContainer .menuNav .menu {
    margin-right: 0;
    place-content: center center !important;
  }
  header .logoTitreMenuContainer .menuNav .mat-tab-links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly !important;
        -ms-flex-pack: space-evenly !important;
            justify-content: space-evenly !important;
  }
  header .logoTitreMenuContainer .menuNav .mat-tab-links a {
    padding: 0 10px;
  }
}

.sectionFormation,
.sectionExperience {
  background: url("../../assets/images/bg_parcour.jpeg") center center/cover fixed;
  width: 100%;
}

.sectionFormation .container,
.sectionExperience .container {
  padding-top: 20px;
}

.sectionFormation .container .titre,
.sectionExperience .container .titre {
  margin-bottom: 30px;
}

.sectionFormation .container .titre .h3,
.sectionExperience .container .titre .h3 {
  font-size: 1.7rem !important;
  font-family: "Indie Flower", cursive;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  padding: 25px 0px 25px 0;
  font-weight: 700;
  letter-spacing: .3rem;
  color: #eeeeee;
  background-color: rgba(1, 45, 71, 0.397);
}

.sectionFormation .container .titre .h3 span,
.sectionExperience .container .titre .h3 span {
  font-size: 2.21rem;
  color: yellow;
}

.sectionFormation .container .formationSticky,
.sectionExperience .container .formationSticky {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  z-index: 1;
}

.sectionFormation .container article,
.sectionExperience .container article {
  padding: 30px;
}

.sectionFormation .container article mat-card,
.sectionExperience .container article mat-card {
  padding-bottom: 30px !important;
  background-color: #dee5fbef;
  width: 480px;
  min-height: 700px;
}

.sectionFormation .container article mat-card .btnAlign,
.sectionExperience .container article mat-card .btnAlign {
  margin-bottom: 15px;
}

.sectionFormation .container article mat-card .btnAlign button span,
.sectionExperience .container article mat-card .btnAlign button span {
  font-size: 1rem !important;
  font-weight: 200;
}

.sectionFormation .container article mat-card img,
.sectionFormation .container article mat-card .divImgDefault,
.sectionExperience .container article mat-card img,
.sectionExperience .container article mat-card .divImgDefault {
  height: 100px;
}

.sectionFormation .container article mat-card .divImgDefault,
.sectionExperience .container article mat-card .divImgDefault {
  width: calc(100% + 32px);
  background-color: #92929252;
  margin: 0 -16px 16px -16px;
}

.sectionFormation .container article mat-card mat-card-content p,
.sectionExperience .container article mat-card mat-card-content p {
  font-size: 1rem;
}

.sectionFormation .container article mat-card mat-card-content div h4,
.sectionExperience .container article mat-card mat-card-content div h4 {
  font-size: 1rem;
}

.sectionFormation .container article mat-card mat-card-content div mat-list .mat-list-item-content,
.sectionExperience .container article mat-card mat-card-content div mat-list .mat-list-item-content {
  font-size: .9rem;
  padding: 0;
}

.sectionFormation .container article mat-card mat-card-actions,
.sectionExperience .container article mat-card mat-card-actions {
  margin-right: 15px;
}

.sectionFormation .container article mat-card mat-card-actions .mat-button-wrapper,
.sectionExperience .container article mat-card mat-card-actions .mat-button-wrapper {
  font-size: .6rem;
}

.sectionFormation .container article .mat-card-experience,
.sectionExperience .container article .mat-card-experience {
  min-height: 300px !important;
}

.sectionFormation .container article .mat-card-experience mat-card-subtitle p,
.sectionExperience .container article .mat-card-experience mat-card-subtitle p {
  font-size: .7rem;
  margin-right: 10px;
}

.sectionFormation .container article .mat-card-experience mat-card-subtitle div,
.sectionExperience .container article .mat-card-experience mat-card-subtitle div {
  margin-right: 15px;
}

.sectionFormation .container article .mat-card-experience .mat-card-header-text,
.sectionExperience .container article .mat-card-experience .mat-card-header-text {
  margin: 0;
}

@media (max-width: 500px) {
  .sectionFormation {
    margin-top: 0px;
  }
  .sectionFormation .container .titre .h3 {
    font-size: 1.7rem;
    font-family: "Indie Flower", cursive;
    font-weight: 700;
  }
  .sectionFormation .container .formationSticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
  }
}

.sectionSeConnecter {
  height: 84vh;
}

.sectionSeConnecter div form mat-card mat-card-actions .separator {
  margin: 10px;
  height: 2px;
  width: 90%;
  background-color: grey;
}

.matCardSeCo {
  max-width: 500px;
}

.sectionPortfolio {
  background: url("../../assets/images/bg_portfolio.jpeg") center center/cover;
  min-height: calc(100vh - 175px);
  padding-top: 50px;
}

.sectionPortfolio .titre {
  margin-bottom: 1rem;
}

.sectionPortfolio .titre h2 {
  margin-bottom: 1rem;
}

.sectionPortfolio article {
  margin-bottom: 20px;
  width: 80%;
}

.sectionPortfolio article mat-card {
  background-color: rgba(255, 219, 188, 0.335);
}

.sectionPortfolio article mat-card i {
  font-size: 1rem;
}

.sectionPortfolio article mat-card a {
  text-decoration: none;
  font-style: italic;
  color: #333;
}

.sectionPortfolio article mat-card a:hover {
  color: white;
  font-weight: bold;
}

.sectionPortfolio article mat-card div {
  margin-top: 0;
}

.sectionPortfolio article mat-card div img {
  margin: 0;
  padding: 0;
  width: 40%;
}

.sectionPortfolio article mat-card mat-card-header {
  margin-bottom: 5px;
}

.sectionPortfolio article mat-card mat-card-content {
  margin-bottom: 0;
}

@media (max-width: 500px) {
  .sectionPortfolio {
    background: url("../../assets/images/bg_portfolio.jpeg") center center/cover;
    min-height: calc(100vh - 270px);
    padding-top: 20px;
  }
  .sectionPortfolio .titre {
    margin-bottom: 1rem;
  }
  .sectionPortfolio .titre h2 {
    margin-bottom: 1rem;
  }
  .sectionPortfolio article {
    margin-bottom: 20px;
    width: 99%;
  }
  .sectionPortfolio article mat-card {
    background-color: rgba(255, 219, 188, 0.335);
  }
  .sectionPortfolio article mat-card i {
    font-size: 1rem;
  }
  .sectionPortfolio article mat-card a {
    text-decoration: none;
    font-style: italic;
    color: #333;
  }
  .sectionPortfolio article mat-card a:hover {
    color: white;
    font-weight: bold;
  }
  .sectionPortfolio article mat-card div {
    margin-top: 0;
  }
  .sectionPortfolio article mat-card div img {
    margin: 0;
    padding: 0;
    width: 40%;
  }
  .sectionPortfolio article mat-card mat-card-header {
    margin-bottom: 5px;
  }
  .sectionPortfolio article mat-card mat-card-content {
    margin-bottom: 0;
  }
}

.sectionAcceuil {
  background: url("../../assets/images/bg_Acceuil.jpeg") center center/cover;
  height: calc(100vh);
  font-weight: 200;
  line-height: 1.4rem;
  padding-top: 250px;
}

.sectionAcceuil article {
  width: 70%;
}

.sectionAcceuil article mat-card {
  background-color: rgba(15, 31, 27, 0.753);
  color: white;
  margin-bottom: 2rem;
}

.sectionAcceuil article mat-card mat-card-header mat-card-title h2 {
  font-size: 1.7rem;
  letter-spacing: .3rem;
  margin-right: 20px;
}

.sectionAcceuil article mat-card mat-card-header div mat-card-subtitle h3 {
  letter-spacing: .15rem;
  font-style: italic;
  color: white;
  font-size: 1.2rem;
}

.sectionAcceuil article mat-card mat-card-header div mat-card-subtitle h3 span {
  color: yellow;
}

.sectionAcceuil article mat-card mat-card-content .photoProfil {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px solid rgba(178, 178, 179, 0.575);
  -webkit-box-shadow: 0 0 6px white;
          box-shadow: 0 0 6px white;
}

.sectionAcceuil article mat-card mat-card-content .profil p {
  margin: 6px;
}

.sectionAcceuil article mat-card mat-card-content p .majPara {
  color: yellow;
  font-size: 1.6rem;
  font-family: "Dancing Script", cursive;
  margin-left: 20px;
}

.sectionAcceuil article mat-card mat-card-content div h3 {
  font-weight: 200;
}

.sectionAcceuil article mat-card mat-card-content div ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px;
}

.sectionAcceuil article mat-card mat-card-content div ul li {
  list-style: none;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sectionAcceuil article mat-card mat-card-content div a img {
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.minus li {
  font-size: .6rem;
  font-style: italic;
}

@media (max-width: 500px) {
  .sectionAcceuil {
    height: auto;
    padding-top: 50px;
    padding-bottom: 20px;
  }
  .sectionAcceuil article {
    width: 100%;
  }
  .sectionAcceuil article mat-card {
    margin: 5px;
  }
  .sectionAcceuil article mat-card div mat-card-header {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    place-content: center center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .sectionAcceuil article mat-card div mat-card-header mat-card-title h2 {
    margin: 0 !important;
    font-size: 1.3rem;
  }
  .sectionAcceuil article mat-card div mat-card-header div mat-card-subtitle h3 {
    text-align: center;
  }
  .sectionAcceuil article mat-card div mat-card-Content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .articlePresentation p {
    font-size: .8rem;
  }
}
/*# sourceMappingURL=main.css.map */