/* test BACKGROUND*/

.red {
    background-color: brown;
}

.blue {
    background-color: rgb(42, 54, 165);
}

.purple {
    background-color: rgb(130, 42, 165);
}

.yellow {
    background-color: rgb(142, 165, 42);
}


/*FONT-FAMILY*/

.fontPrim {
    font-family: 'Karla', sans-serif;
}

.fontSec {
    font-family: 'Indie Flower', cursive;
}

.fontOpt {
    font-family: 'Dancing Script', cursive;
}


/*BOUTTON*/

.btn {
    display: inline-block !important;
    font-size: 14px !important;
    padding: 15px 25px;
    border-radius: 5px 30% 5px 30% !important;
    font-weight: 900 !important;
    background-color: $transparence;
}

.btn:hover {
    background-color: $primaryColors;
    color: $secondaryColors;
    transition: .3s;
}

.btn-sec {
    background-color: rgb(34, 34, 33);
    color: rgb(239, 239, 250);
}


/*MARGIN Gen*/

.m15 {
    margin: 15px;
}

.m30 {
    margin: 30px;
}

.mlr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mlr-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.mlr-30 {
    margin-left: 30px;
    margin-right: 30px;
}

.mlr-50 {
    margin-left: 50px;
    margin-right: 50px;
}

.mlr-100 {
    margin-left: 100px;
    margin-right: 100px;
}

.mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mtb-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.mtb-60 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.mtb-70 {
    margin-top: 70px;
    margin-bottom: 70px;
}


/*PADDING Gen*/

.p30 {
    padding: 30px;
}

.p50 {
    padding: 50px;
}

.plr5 {
    padding-left: 5px;
    padding-right: 5px;
}

.plr-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.plr-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.plr-30 {
    padding-left: 30px;
    padding-right: 30px;
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.ptb-70 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.fullPage {
    min-width: 100vh;
    min-height: 100vh;
}


/*Taile Page*/

.page90 {
    min-height: 100vh;
}

.page80 {
    min-width: 80vh;
    min-height: 80vh;
}

.page70 {
    min-width: 70%;
}

.larg50 {
    width: 50%;
}


/*DISPLAY*/

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.center {
    justify-content: center;
}

.start {
    justify-content: flex-start;
}

.colStart {
    align-content: flex-start;
}

.space-arround {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.space-between {
    justify-content: space-between;
}

.colCenter {
    align-items: center;
}

.stretchR {
    justify-content: stretch;
}

.stretchC {
    align-content: stretch;
}

.auto {
    flex: auto;
}

.wrap {
    flex-wrap: wrap;
}

.flex1 {
    flex-grow: 1;
}