// COLORS
$primaryColors:#03f8821f;
$secondaryColors:#8f9480;
$secondaryColors_trans:#d1f663e1;
$tercieryColors:#5EF4FF;
$qatriemeColors:#4AE8D9;
$firtyColors:#4AE8BD;
$white:rgb(255, 255, 255);
$black: rgb(34, 34, 34);
// BACKGROUND COLORS
$backGroundColor_Body: $primaryColors;
$backGroundColor_header: $secondaryColors_trans;
//FONTSIZE
$fontSize_Titre: 3em;
$fontSize_a: 1.2em;