.sectionFormation,
.sectionExperience {
    background: url('../../assets/images/bg_parcour.jpeg') center center /cover fixed;
    width: 100%;
    .container {
        padding-top: 20px;
        .titre {
            // margin-bottom: 30px;
            .h3 {
                font-size: $fsH3 !important;
                font-family: $fontSec;
                width: 100%;
                text-align: center;
                margin-bottom: 30px;
                padding: 25px 0px 25px 0;
                font-weight: 700;
                letter-spacing: .3rem;
                color: $secondaryColors;
                background-color: rgba(1, 45, 71, 0.397);
                span {
                    font-size: $fsH3*1.3;
                    color: $cSpan;
                }
            }
            button {}
        }
        .formationSticky {
            position: sticky;
            top: 30px;
            z-index: 1;
        }
        article {
            padding: 30px;
            mat-card {
                padding-bottom: 30px !important;
                background-color: $transparence;
                width: 480px;
                min-height: 700px;
                & .btnAlign {
                    margin-bottom: 15px;
                    & button {
                        & span {
                            font-size: 1rem !important;
                            font-weight: 200;
                        }
                    }
                }
                & mat-card-header {
                    & mat-car-title {}
                    & mat-card-subtitle {}
                }
                & img,
                .divImgDefault {
                    height: 100px;
                }
                .divImgDefault {
                    width: calc(100% + 32px);
                    background-color: #92929252;
                    margin: 0 -16px 16px -16px;
                }
                & mat-card-content {
                    & p {
                        font-size: 1rem;
                    }
                    & div {
                        & h4 {
                            font-size: $fsH4;
                        }
                        & mat-list {
                            & .mat-list-item-content {
                                font-size: .9rem;
                                padding: 0;
                            }
                        }
                    }
                }
                & mat-card-actions {
                    margin-right: 15px;
                    & .mat-button-wrapper {
                        font-size: .6rem;
                    }
                }
            }
            & .mat-card-experience {
                min-height: 300px !important;
                & mat-card-subtitle {
                    & p {
                        font-size: .7rem;
                        margin-right: 10px;
                    }
                    & div {
                        margin-right: 15px;
                    }
                }
                & .mat-card-header-text {
                    margin: 0;
                }
            }
        }
    }
}

@media(max-width:500px) {
    .sectionFormation,
    .sectionExperience {
        margin-top: 0px;
        & .container {
            & .titre {
                & .h3 {
                    font-size: $fsH3;
                    font-family: $fontSec;
                    font-weight: 700;
                    & span {}
                }
                & button {}
            }
            .formationSticky {
                position: sticky;
                top: 0px;
                z-index: 1;
            }
            article {
                padding: 5px;
                & mat-card {
                    width: auto;
                    & div {
                        button {}
                    }
                    & mat-car-header {
                        & mat-car-title {}
                        & mat-card-subtitle {}
                    }
                    & img {}
                    & mad-card-content {
                        & .content {
                            & div {}
                            & p {}
                            & mat-list {
                                & mat-list-item {}
                            }
                        }
                    }
                    & mat-card-actions {
                        & a {
                            & button {}
                        }
                    }
                }
            }
        }
    }
}


/*FORMATION FORMULAIRE*/

.formationForm,
.experienceForm,
.portfolioForm {
    min-width: 500px;
    max-width: 600px;
}

@media(max-width:500px) {
    .formationForm,
    .experienceForm,
    .portfolioForm {
        min-width: auto;
        max-width: auto;
        form {
            width: 99%;
        }
    }
}