header {
    background-color: $primaryColors;
    color: $white !important;
    width: 100%;
    font-family: $fontOpt !important;
    .logoTitreMenuContainer {
        .logoTitre {
            img {
                height: 40px;
                width: 40px;
                border: 3px solid rgb(243, 239, 239);
                border-radius: 60%;
                margin: 10px;
            }
            & h1 {
                font-size: 2rem;
                font-weight: 700;
                cursor: pointer;
            }
        }
        .menu {
            margin-right: 10px;
            & button {
                background: $primColBut;
                font-family: 'Indie Flower', cursive !important;
                border-radius: 5px 30% 5px 30%;
                &:hover {
                    transition: .4s;
                    background-color: $primColButHover;
                    color: $primColBut;
                    border: 2px solid $primColBut;
                    font-weight: 700;
                }
            }
            .mat-menu {
                button {
                    font-family: 'Indie Flower', cursive !important;
                }
            }
        }
    }
}

.navi {
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
}

.menuNav {
    background-color: $primaryColors;
    nav {
        padding: 0;
        & .mat-tab-link {
            font-size: $fontSize_a;
            padding: 0;
            color: rgb(248, 240, 240);
            &:hover {
                background-color: $primColBut;
                color: $primColButHover;
                border-radius: 3px;
            }
        }
        .mat-tab-label-active {
            background-color: $colNav;
            border-radius: 3px;
        }
        .mat-ink-bar {
            height: 4px;
        }
        & a {
            color: rgb(255, 255, 255);
            text-decoration: none;
            font-size: $fontSize_a;
            font-family: 'Indie Flower', cursive !important;
        }
    }
}

@media(max-width:500px) {
    header {
        .logoTitreMenuContainer {
            place-content: center space-arround !important;
            padding-top: 0;
            flex-wrap: wrap;
            .logoTitre {
                margin-right: 0 !important;
                img {
                    margin: 10px 30px 0 0;
                }
            }
        }
    }
    .menuNav {
        padding-top: 4px;
        .menu {
            margin-right: 0;
            place-content: center center !important;
        }
        .mat-tab-links {
            flex-direction: row;
            justify-content: space-evenly !important;
            a {
                padding: 0 10px;
            }
        }
    }
}