header {
    background-color: $primaryColors;
    color: $white !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    font-family: $fontOpt !important;
    & .logoTitreMenuContainer {
        & .logoTitre {
            padding-bottom: 20px;
            & img {
                height: 80px;
                width: 80px;
                border: 3px solid rgb(243, 239, 239);
                border-radius: 60%;
                margin: 10px 30px;
            }
            & h1 {
                font-size: 2rem;
                font-weight: 700;
                cursor: pointer;
            }
        }
    }
    & .menuNav {
        & .menu {
            margin-right: 20px;
            & button {
                padding-top: 2px;
                background: $primColBut;
                font-family: 'Indie Flower', cursive !important;
                border-radius: 5px 30% 5px 30%;
                &:hover {
                    transition: .4s;
                    background-color: $primColButHover;
                    color: $primColBut;
                    border: 2px solid $primColBut;
                    font-weight: 700;
                }
            }
            & .mat-menu {
                & button {
                    font-family: 'Indie Flower', cursive !important;
                }
            }
        }
        & nav {
            padding: 0;
            margin-top: 5px;
            & .mat-tab-link {
                font-size: $fontSize_a;
                padding: 0;
                color: white;
                height: 50px !important;
                border-radius: 30px 30% 0 0;
                &:hover {
                    background-color: $primColBut;
                    color: $primColButHover;
                }
            }
            .mat-tab-label-active {
                background-color: $colNav;
            }
            .mat-ink-bar {
                height: 4px;
            }
            & a {
                color: rgb(255, 255, 255);
                text-decoration: none;
                font-size: $fontSize_a;
                font-family: 'Indie Flower', cursive !important;
            }
        }
    }
}

@media(max-width:500px) {
    body,
    html {
        padding-top: 0;
        display: flex;
    }
    header {
        position: unset;
        .logoTitreMenuContainer {
            // flex-direction: column !important;
            place-content: center center !important;
            padding-top: 0;
            flex-wrap: wrap;
            & .logoTitre {
                margin-right: 0 !important;
                & img {
                    margin: 10px 30px 0 0;
                }
            }
            & .menuNav {
                width: 100%;
                & .menu {
                    margin-right: 0;
                    place-content: center center !important;
                }
                & .mat-tab-links {
                    flex-direction: row;
                    justify-content: space-evenly !important;
                    & a {
                        padding: 0 10px;
                    }
                }
            }
        }
    }
}
