    .sectionPortfolio {
        background: url('../../assets/images/bg_portfolio.jpeg')center center /cover;
        min-height: calc(100vh - 175px);
        padding-top: 50px;
        .titre {
            margin-bottom: 1rem;
            h2 {
                margin-bottom: 1rem;
            }
        }
        article {
            margin-bottom: 20px;
            width: 80%;
            mat-card {
                background-color: rgba(255, 219, 188, 0.335);
                i {
                    font-size: 1rem;
                }
                a {
                    text-decoration: none;
                    font-style: italic;
                    color: #333;
                    &:hover {
                        color: white;
                        font-weight: bold;
                    }
                }
                div {
                    margin-top: 0;
                    img {
                        margin: 0;
                        padding: 0;
                        width: 40%;
                    }
                }
                mat-card-header {
                    margin-bottom: 5px;
                }
                mat-card-content {
                    margin-bottom: 0;
                }
            }
        }
    }
    
    @media(max-width: 500px) {
        .sectionPortfolio {
            background: url('../../assets/images/bg_portfolio.jpeg')center center /cover;
            min-height: calc(100vh - 270px);
            padding-top: 20px;
            .titre {
                margin-bottom: 1rem;
                h2 {
                    margin-bottom: 1rem;
                }
            }
            article {
                margin-bottom: 20px;
                width: 99%;
                mat-card {
                    background-color: rgba(255, 219, 188, 0.335);
                    i {
                        font-size: 1rem;
                    }
                    a {
                        text-decoration: none;
                        font-style: italic;
                        color: #333;
                        &:hover {
                            color: white;
                            font-weight: bold;
                        }
                    }
                    div {
                        margin-top: 0;
                        img {
                            margin: 0;
                            padding: 0;
                            width: 40%;
                        }
                    }
                    mat-card-header {
                        margin-bottom: 5px;
                    }
                    mat-card-content {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }