.sectionPortfolio {
    background: url('../../assets/images/bg_portfolio.jpeg')center center /cover;
    min-height: calc(100vh - 175px);
    padding-top: 100px;
    & article {
        margin-bottom: 30px;
        width: 80%;
        & mat-card {
            & i {
                font-size: 1rem;
            }
            margin: 16px;
            padding: 16px 24px 8px 8px;
            background-color: rgba(255,
            219,
            188,
            0.335);
            & mat-card-header {
                width: 50%;
                & mat-card-title {
                    & a {
                        text-decoration: none;
                        font-style: italic;
                        color: #333;
                        &:hover {
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
                & mat-card-subtitle {}
            }
            & mat-card-content {
                & p {}
                margin-top: 10px;
                & a {
                    text-decoration: none;
                    font-style: italic;
                    color: #333;
                    &:hover {
                        color: white;
                        font-weight: bold;
                    }
                }
            }
            & mat-card-actions {
                width: 300px;
                margin-top: 8px;
                & img {
                    width: 300px;
                }
            }
        }
    }
}
