<section class='sectionPortfolio' fxLayout='column' fxLayoutAlign='start center'>
    <div class='container'>
        <div fxLayout='column' fxLayoutAlign='start center'>
            <h2>Les <span>B</span>asiques</h2>
            <button mat-raised-button class='btn' routerLink='/portfolioForm'>Ajouter une site</button>
            <div fxLayout='row'>
                <p>Technologie Utilisée:</p>
                <p> <i class="fab fa-html5 mlr-10"></i><i class="fab fa-css3-alt mlr-10"></i></p>
            </div>
        </div>
        <div class='contentArticle' fxLayout='column' fxLayoutAlign='center center'>
            <article>
                <mat-card fxLayout='row' fxLayoutAlign='space-between start'>
                    <mat-card-header fxLayout='column' fxLayoutAlign='start start'>
                        <mat-card-title>
                            <div fxLayout='row' fxLayoutAlign='start center'>
                                <i class="fas fa-link mlr-10"></i>
                                <a href="https://labobine.spherik.fr/" target='blanck'>
                                    <h3>labobine.fr</h3>
                                </a>
                            </div>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <h4> Site de presentation classique comprenant plusieur page de redirection. </h4>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content class='mlr-100' fxLayout='row' fxLayoutAlign='start center'>
                        <i class="fab fa-github  mlr-10"> </i> <a href="https://github.com/globedjill/labobine.fr.git" target='blanck'>Github</a>

                    </mat-card-content>
                    <mat-card-actions fxLayout='row' fxLayoutAlign='center center'>
                        <img matCardImage src="../../../../assets/images/bg_laBobine.png">
                    </mat-card-actions>
                </mat-card>
            </article>
        </div>
    </div>
</section>
