<section class='sectionPortfolio' fxLayout='column' fxLayoutAlign='start center'>
    <div class='container'>
        <div class='titre' fxLayout='column' fxLayoutAlign='start center'>
            <h2>Les <span>B</span>asiques</h2>
            <button mat-raised-button class='btn' *ngIf='this.userSession.isAuth' routerLink='/portfolioForm'>Ajouter un site</button>
            <div fxLayout='row'>
                <p>Technologie Utilisée:</p>
                <p> <i class="fab fa-html5 mlr-10"></i><i class="fab fa-css3-alt mlr-10"></i></p>
            </div>
        </div>
        <div class='contentArticle' fxLayout='column' fxLayoutAlign='center center'>
            <article *ngFor='let site of portfolioTab; let i = index'>
                <mat-card fxLayout='column' class='p10'>
                    <div class='btnModifSuppr' fxLayout='row' fxLayoutAlign='space-evenly center'>
                        <button mat-raised-button class='btn' *ngIf='this.userSession.isAuth' (click)='editSite(site)' [routerLink]="['/portfolio', site._id]">Modifier</button>
                        <button mat-raised-button class='btn' *ngIf='this.userSession.isAuth' (click)='deleteImageLink(site.image)' (click)='deleteUnSite(site._id)'>Supprimer</button>
                    </div>
                    <div fxLayout='column'>
                        <mat-card-content fxLayout='row' fxLayoutAlign='space-between'>
                            <div fxLayout='column' fxLayoutAlign='start stretch'>
                                <a href="{{ site.lienSite }}" target='blanck' fxLayout='row' fxLayoutAlign=' center center'>
                                    <i class="fas fa-link mlr-10"></i>
                                    <h3>{{ site.name }}</h3>
                                </a>
                                <p class='mlr-35 mtb-10'> {{ site.description }}</p>
                                <a href="{{ site.lienGit }}" target='blanck' fxLayout='row' fxLayoutAlign='start flex-end' class='flex1'>
                                    <i class="fab fa-github  mlr-10"></i>
                                    <h3>Github</h3>
                                </a>
                            </div>
                            <img matCardImage src="{{ site.image }}" alt="{{ site.alt }}">
                        </mat-card-content>
                    </div>
                </mat-card>
            </article>
        </div>
    </div>
</section>