<section class='portfolioForm' fxLayoutAlign='center center'>
    <form [formGroup]='portfolioForm'>
        <mat-card>
            <mat-card-header>
                <mat-card-title>Nouveau Site</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- Titre du site -->
                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Titre</mat-label>
                        <input matInput type="text" formControlName='name' placeholder="Nom du site">
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                    <mat-form-field appearance='fill'>
                        <mat-label>Lien vers le site</mat-label>
                        <input matInput type="text" placeholder="lien http" formControlName='lienSite'>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div>
                <!-- Description -->
                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description du site" formControlName='description'></textarea>
                    </mat-form-field>
                </div>
                <!-- lienGit -->
                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Lien vers Github</mat-label>
                        <input matInput type="text" placeholder="lien http" formControlName='lienGit'>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div>
                <!-- image -->
                <div fxLayout='column'>
                    <div class='container' fxLayout='row' fxLayoutAlign='center center'>
                        <div class='image' *ngIf='!this.id || imageInstanceAModifier === false'>
                            <div class='content' fxLayout='column' fxGap='15px'>
                                <div *ngIf="this.noFile === true " class='upload' fxLayout='row' fxLayoutAlign='center center' (click)="openFile()">
                                    <mat-label>Ajouter une image</mat-label>
                                    <input (change)='addFile($event)' type="file" fxHide='true' formControlName='image' #fileInput>
                                    <mat-icon><span class="material-icons-outlined">file_download</span></mat-icon>
                                </div>
                                <div *ngIf='this.noFile === false'>
                                    <div class='file' *ngFor='let fileHolder of (filesHolder$ | async ); let i = index' fxLayout='column' fxLayoutAlign='center center'>
                                        <div class='fileUpload' *ngIf='fileHolder.progress$ | async; let progress ' fxLayout='column'>
                                            <div class='fileUpload' fxLayout='row' fxLayoutAlign='space-between center'>
                                                <span>{{ fileHolder.file.name }}</span>
                                                <span>{{ progress }}%</span>
                                                <span *ngIf='progress === 100'> Fichier enregistré </span>
                                                <mat-icon><span class="material-icons" (click)='deleteFile(i)'>clear</span></mat-icon>
                                            </div>
                                            <mat-progress-bar style="min-width: 150px;" mode='determinate' [value]='progress'></mat-progress-bar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- S'affiche si id experience pour modification -->
                        <div class='content' *ngIf='this.id' fxLayout='column' fxGap='15px'>
                            <!-- s'affiche si image d'origine-->
                            <div *ngIf='this.imageInstanceAModifier === true' class='fileUpload' fxLayout='column'>
                                <div class='fileUpload' fxLayout='row' fxLayoutAlign='space-between center'>
                                    <span>{{this.imageVal.split('/')[3]}}</span>
                                    <mat-icon><span class="material-icons" (click)='supprImgLinkmodif(this.imageVal)'>clear</span></mat-icon>
                                </div>
                            </div>
                        </div>

                    </div>
                    <mat-form-field appearance='fill'>
                        <mat-label>Description Image</mat-label>
                        <input matInput type="text" formControlName='alt' placeholder='alt'>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div>
            </mat-card-content>
            <mat-card-actions align="start">
                <button *ngIf='this.id' mat-raised-button (click)="onModifyPorfolio()">modifier</button>
                <button *ngIf='!this.id' mat-raised-button ngSubmit (click)="onSavePortfolio()">Enregistrer</button>
                <button mat-raised-button (click)="retour()">Annuler</button>
            </mat-card-actions>
            <mat-card-footer>
            </mat-card-footer>
        </mat-card>
    </form>
</section>