<section fxLayoutAlign='center center'>
    <form [formGroup]='portfolioForm'>
        <mat-card style='min-width: 500px; max-width: 600px;'>
            <mat-card-header>
                <mat-card-title>Nouvelle intégration</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <!-- Titre du site -->
                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Titre</mat-label>
                        <input matInput type="text" formControlName='name' placeholder="Nom du site">
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                    <mat-form-field appearance='fill'>
                        <mat-label>Lien vers le site</mat-label>
                        <input matInput type="text" placeholder="lien http" formControlName='lienSite'>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div>
                <!-- Description -->
                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Description du site" formControlName='description'></textarea>
                    </mat-form-field>
                </div>
                <!-- lienGit -->
                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Lien vers Github</mat-label>
                        <input matInput type="text" placeholder="lien http" formControlName='lienGit'>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div>
                <!-- IMAGE -->
                <!-- <div fxLayout='column'>
                    <div class="container" fxLayout="row" fxLayoutAlign="center center">
                        <div class="content" fxLayout="column" fxLayoutGap="15px">
                            <div class="upload" *ngIf="!this.noFile" [class.over]="over" (click)="openFile()" (drop)="dropFile($event); over = false" (dragover)="$event.preventDefault()" (dragenter)="over = true" (dragleave)="over = false" fxLayout="row" fxLayoutAlign="center center">
                                <mat-label>Ajouter une image</mat-label>
                                <input (change)='addFile($event)' #fileinput formControlName='image' type="file" fxHide="true" />
                                <mat-icon> <span class="material-icons-outlined">
                              file_download
                              </span></mat-icon>
                            </div>
                            <div class="file" fxLayout='column' *ngIf="this.noFile " fxLayoutAlign="center center">
                                <div class="fileUpload" *ngFor='let fileHolder of (filesHolder$ | async); let i = index' fxLayout='row' fxLayoutAlign="space-between center">
                                    <div class="fileName" fxLayoutAlign="space-arround center" fxLayout='row'>
                                        <span fxFill>{{ fileHolder.file.name }}</span>
                                        <div fxLayout='row' *ngIf='fileHolder.progress$ | async ; let progress '>
                                            <span>{{ progress }}%</span>
                                            <mat-progress-bar style=" width:150px " mode="determinate" [value]='progress'>
                                            </mat-progress-bar>
                                        </div>
                                    </div>
                                    <mat-icon><span class="material-icons" (click)='deleteFile(i)'>clear</span></mat-icon>
                                </div>
                            </div>
                        </div>
                    </div>

                    <mat-form-field appearance='fill'>
                        <mat-label>Description Image</mat-label>
                        <input matInput type="text" formControlName='alt' placeholder='alt'>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div> -->
            </mat-card-content>
            <mat-card-actions align="start">
                <button mat-raised-button (click)="onModifyPorfolio()">modifier
              </button>
                <button mat-raised-button ngSubmit (click)="onSavePortfolio()">Enregistrer</button>
                <button mat-raised-button (click)="retour()">Annuler</button>
            </mat-card-actions>
            <mat-card-footer>
            </mat-card-footer>
        </mat-card>
    </form>
</section>