<section class='experienceForm' fxLayoutAlign='center center'>
    <form [formGroup]='experienceForm' class='mtb-20' (ngSubmit)='onSaveExperience()' fxLayoutAlign='center center'>
        <mat-card>
            <mat-card-header>
                <mat-card-title *ngIf='!this.id'>Nouvelle Experience</mat-card-title>
                <mat-card-title *ngIf='this.id'>Modification Experience</mat-card-title>
            </mat-card-header>

            <!-- Les Dates -->
            <mat-card-content>
                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Date d'entrée</mat-label>
                        <input matInput [matDatepicker]='picker' formControlName='dateEntree'>
                        <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance='fill'>
                        <mat-label>Date de sortie</mat-label>
                        <input matInput [matDatepicker]='pickerSortie' formControlName='dateSortie'>
                        <mat-datepicker-toggle matSuffix [for]='pickerSortie'></mat-datepicker-toggle>
                        <mat-datepicker #pickerSortie></mat-datepicker>
                    </mat-form-field>
                </div>

                <!-- image -->
                <div fxLayout='column'>
                    <div class='container' fxLayout='row' fxLayoutAlign='center center'>
                        <div class='image' *ngIf='!this.id || imageInstanceAModifier === false'>
                            <div class='content' fxLayout='column' fxGap='15px'>
                                <div *ngIf="this.noFile === true " class='upload' fxLayout='row' fxLayoutAlign='center center' (click)="openFile()">
                                    <mat-label>Ajouter une image</mat-label>
                                    <input (change)='addFile($event)' type="file" fxHide='true' formControlName='image' #fileInput>
                                    <mat-icon><span class="material-icons-outlined">file_download</span></mat-icon>
                                </div>
                                <div *ngIf='this.noFile === false'>
                                    <div class='file' *ngFor='let fileHolder of (filesHolder$ | async ); let i = index' fxLayout='column' fxLayoutAlign='center center'>
                                        <div class='fileUpload' *ngIf='fileHolder.progress$ | async; let progress ' fxLayout='column'>
                                            <div class='fileUpload' fxLayout='row' fxLayoutAlign='space-between center'>
                                                <span>{{ fileHolder.file.name }}</span>
                                                <span>{{ progress }}%</span>
                                                <span *ngIf='progress === 100'> Fichier enregistré </span>
                                                <mat-icon><span class="material-icons" (click)='deleteFile(i)'>clear</span></mat-icon>
                                            </div>
                                            <mat-progress-bar style="min-width: 150px;" mode='determinate' [value]='progress'></mat-progress-bar>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- S'affiche si id experience pour modification -->
                        <div class='content' *ngIf='this.id' fxLayout='column' fxGap='15px'>
                            <!-- s'affiche si image d'origine-->
                            <div *ngIf='this.imageInstanceAModifier === true' class='fileUpload' fxLayout='column'>
                                <div class='fileUpload' fxLayout='row' fxLayoutAlign='space-between center'>
                                    <span>{{this.imageVal.split('/')[3]}}</span>
                                    <mat-icon><span class="material-icons" (click)='supprImgLinkmodif(this.imageVal)'>clear</span></mat-icon>
                                </div>
                            </div>
                        </div>

                    </div>
                    <mat-form-field appearance='fill'>
                        <mat-label>Description Image</mat-label>
                        <input matInput type="text" formControlName='alt' placeholder='alt'>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div>

                <!-- Contrat -->
                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Type de Contrat</mat-label>
                        <mat-select placeholder="type de contrat" formControlName='typeContrat'>
                            <mat-option *ngFor='let contrat of typeContrat' [value]="contrat">{{ contrat }}</mat-option>
                        </mat-select>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                    <mat-form-field appearance='fill'>
                        <mat-label>Enseigne</mat-label>
                        <input matInput type="text" placeholder="option" formControlName='enseigne'>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div>

                <div fxLayout='column'>
                    <mat-form-field appearance='fill'>
                        <mat-label>Lieu</mat-label>
                        <input type="text" matInput formControlName='lieu' placeholder="Departement">
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                    <mat-form-field appearance='fill'>
                        <mat-label>Lien vers le site </mat-label>
                        <input type='text' matInput placeholder="Liens" formControlName='lien' />
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                    <mat-form-field appearance='fill'>
                        <mat-label>Fonction</mat-label>
                        <textarea matInput placeholder="Quels rôle aviez vous" formControlName='fonction'></textarea>
                        <mat-error *ngIf=""></mat-error>
                    </mat-form-field>
                </div>

            </mat-card-content>
            <mat-card-actions>
                <div fxFlex='row' fxLayoutAlign='center center'>
                    <button *ngIf='!this.id' mat-raised-button type='button' [disabled]='this.experienceForm.invalid' (click)="onSaveExperience()">Enregistrer</button>
                    <button *ngIf='this.id' mat-raised-button type='button' (click)="onModifyExperience()">Modifier</button>
                    <button mat-raised-button (click)="retour(this.imageVal)">Annuler</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </form>
</section>